<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Work+Sans:wght@400;700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700&family=Source+Sans+3:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Work+Sans:wght@400;700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Maven+Pro:wght@400;500;600;700&family=Source+Sans+3:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Work+Sans:wght@400;700&display=swap" rel="stylesheet">
 
<link rel="stylesheet" type="text/css" href="./css/normalize.css">
<link rel="stylesheet"   href="./css/index.css">
    <title>Doc</title>
</head>
<body>

   
    
  <style>

    .accordion {
        margin-top: 3px;
        background-color: #e0dfdf;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: left;
        border: none;
        border-radius: 3px;
        outline: none;
        transition: 0.4s;
        }

      .accordion:hover{
        border :1px solid black;
        
      }

  
      .panel {
      padding: 0 18px;
      background-color: #f1f1f1;
      height: 0;
      transition: max-height 0.2s ease-out;
      overflow: hidden;
      }


    .BodyContent{
      padding: 3em;
      min-height: 60vh;
      width: 90%;
      margin: auto;
      }
    
 
        /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
 

        /* Style the accordion panel. Note: hidden by default */
       
        .activate{
          height: fit-content;
        }

  </style>

  <!-- Header nav Bar -->
   
    <div class="navBarWrapper">
        <div class="navBarCenter">

          <div class="nav_header">
            
            <a href="/" class="nav-logo">
              <img class="logo" src="./assets/logo.png" alt="logo">
            </a>
            
            <div class="space-y-2">
              <div class="w-8 h-0.5  border-2 border-black rounded-sm "></div>
              <div class="w-8 h-0.5  border-2 border-black rounded-sm"></div>
              <div class="w-8 h-0.5  border-2 border-black rounded-sm"></div>
            </div>

          </div>

          <div class="nav_links">

            <a href="/" class="Border" > Main </a>
            <a href="/blog" class="Border" > Blog </a>
            <a href="#" class="Border" > Horaires </a>
            <a href="/renseignement"> Renseignement </a>
            
            <div class="nav_link contact_link">
              <a href="contact.html" class="btn"> contact nous </a>
            </div>

          </div>

        </div>
      </div>
   
      
      <!-- END header Nav bar  -->

    <!-- BodyContent -->

    <div class="BodyContent">


        <h1 class="text-5xl m-3">FAQ: ici vous pouvez trouver les questions les plus fréquemement posées</h1>
        
        
        <button  class="accordion text-xl">A quelle heurs le cabinet ouvre ? </button>
        <div class="panel">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, sit libero minima asperiores, quas maxime ipsa repudiandae, eaque reiciendis iure nam ipsum praesentium! Laudantium, cupiditate vel. Quam qui enim ex?</p>
        </div>
        
        <button class="accordion text-xl">A quelle heurs le cabinet ouvre ?</button>
        <div class="panel">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut aliquam veniam accusantium velit quaerat, necessitatibus quasi reprehenderit tempore dolor consequuntur, amet harum vero quis quam odit omnis dolore! Odit, quas..</p>
        </div>
        
        <button class="accordion text-xl">Section 3</button>
        <div class="panel">
        <p>Lorem ipsum...</p>
        </div>

        <button class="accordion text-xl">Section 3</button>
        <div class="panel">
        <p>Lorem ipsum...</p>
        </div>

        <button class="accordion text-xl">Section 3</button>
        <div class="panel">
        <p>Lorem ipsum...</p>
        </div>

        <button class="accordion text-xl">Section 3</button>
        <div class="panel">
        <p>Lorem ipsum...</p>
        </div>



    </div>

   <!--END BodyContent -->
 
      <!-- FOOTER -->

      <div class="footer">
        <div class="footerCenter">

         <div class="recapInfo">

          <div class="part1Grid">
            <h5 class="item  itemtop"><a href="/">MAIN</a></h5>
            <h5 class="item  itemtop"><a href="#">PROGRAMME HEBDOMADAIRE</a></h5>
            <h5 class="item "><a href="/blog">ON CE QUI NOUS CONCERNE</a></h5>
            <h5 class="item "><a href="/renseignement">RENSEIGNEMENT</a></h5>


            <div class="contact">
              <div class="centerContact">
                <h5>CONTACT</h5>
                <p>02 43 12 03 33</p>
                <p>02 43 43 12 33</p>
                <p>02 12 33 12 43</p>
                <p>yalamed@gmail.com</p>
              </div>
            </div>
           
            <div class="adresse">
              <div class="centerAdresse">
               <h5>ADRESSE</h5>
               <p>01 Bvd Abd EL Rahmaan laala - EL Madania </p>
              </div>
            </div>
           
          </div>
          <hr>
          <div class="part2">
            <div class="logoFooter">
              <a href="/index.html"><img src="./assets/logo.png" alt="logo"></a> 
             </div>
             <div class="textFooter">
               <p>(c) Copyright Yala mohand salah 2022. All rights reserved.</p>
             </div>
          </div>
         </div>
         <div class="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3217.0820907973366!2d2.755896074762302!3d36.26178589786651!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x128f6b9ae146cf03%3A0x461f8001ddb3bf4c!2sDr%20YALA.%20M.%20S!5e0!3m2!1sen!2sdz!4v1691336433871!5m2!1sen!2sdz" width="250" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="responsiveFooter">

          <div class="part1Grid ">
            <h5 class="item  itemtop"><a href="/">MAIN</a></h5>
            <h5 class="item  itemtop"><a href="#">PROGRAMME HEBDOMADAIRE</a></h5>
            <h5 class="item "><a href="/blog">ON CE QUI NOUS CONCERNE</a></h5>
            <h5 class="item "><a href="/renseignement">RENSEIGNEMENT</a></h5>
          </div>

          <hr>

          <div class="adresse">
            <div class="centerAdresse">
             <h5>ADRESSE</h5>
             <p>01 Bvd Abd EL Rahmaan laala - EL Madania </p>
            </div>
          </div>
          <div class="contact">
            <div class="centerContact">
              <h5>CONTACT</h5>
              <p>02 43 12 03 33</p>
              <p>02 43 43 12 33</p>
              <p>02 12 33 12 43</p>
              <p>yalamed@gmail.com</p>
            </div>
          </div>
         
          <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3217.0820907973366!2d2.755896074762302!3d36.26178589786651!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x128f6b9ae146cf03%3A0x461f8001ddb3bf4c!2sDr%20YALA.%20M.%20S!5e0!3m2!1sen!2sdz!4v1691336433871!5m2!1sen!2sdz" width="250" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>

          <hr>
          
          <div class="part2">
            <div class="logoFooter">
              <a href="/"><img src="./assets/logo.png" alt="logo"></a> 
             </div>
             <div class="textFooterv2">
               <p>(c) Copyright Yala mohand salah 2022. All rights reserved.</p>
             </div>
          </div>

          </div>
        </div>

      </div>
 
      <script>
        var acc = document.getElementsByClassName("accordion");
        var i;
        
        for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function() {
           /*  this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
              panel.style.maxHeight = null;
            } else {
              panel.style.maxHeight = panel.scrollHeight + "px";
            } */
            
            var panel = this.nextElementSibling;
            console.log(panel);
            panel.classList.toggle('activate');
          });
        }
        </script>
      <!-- END FOOTER -->
       
      <script src=" /responsiveJS.js"></script>
      <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>