<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Work+Sans:wght@400;700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700&family=Source+Sans+3:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Work+Sans:wght@400;700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Maven+Pro:wght@400;500;600;700&family=Source+Sans+3:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Work+Sans:wght@400;700&display=swap" rel="stylesheet">
 
<link rel="stylesheet" type="text/css" href="./css/normalize.css">
<link rel="stylesheet"   href="./css/index.css">
<link rel="stylesheet"   href="./css/pageNotFound.css">
    <title>Doc</title>
</head>
<body>
    
  <style>
    body{
      background-color: rgba(121, 230, 212, 0.272);
    }
  </style>

  <!-- Header nav Bar -->
   
    <div class="navBarWrapper">
        <div class="navBarCenter">

          <div class="nav_header">
            
            <a href="/" class="nav-logo">
              <img class="logo" src="./assets/logo.png" alt="logo">
            </a>
            
            <div class="space-y-2">
              <div class="w-8 h-0.5  border-2 border-black rounded-sm "></div>
              <div class="w-8 h-0.5  border-2 border-black rounded-sm"></div>
              <div class="w-8 h-0.5  border-2 border-black rounded-sm"></div>
            </div>

          </div>

          <div class="nav_links">

            <a href="/" class="Border" > Main </a>
            <a href="/blog" class="Border" > Blog </a>
            <a href="#" class="Border" > Horaires </a>
            <a href="/renseignement"> Renseignement </a>
            
            <div class="nav_link contact_link">
              <a href="contact.html" class="btn"> contact nous </a>
            </div>

          </div>

        </div>
      </div>
   
      
      <!-- END header Nav bar  -->

    <!-- BodyContent -->

    <div class="BodyContent">
      <h1 class="text-3xl">Page not Found Error 404!  </h1>
      <h3>Go back to main page</h3>  
    </div>

   <!--END BodyContent -->
 
      <!-- FOOTER -->

      <div class="footer">
        <div class="footerCenter">

         <div class="recapInfo">

          <div class="part1Grid">
            <h5 class="item  itemtop"><a href="/">MAIN</a></h5>
            <h5 class="item  itemtop"><a href="#">PROGRAMME HEBDOMADAIRE</a></h5>
            <h5 class="item "><a href="/blog">ON CE QUI NOUS CONCERNE</a></h5>
            <h5 class="item "><a href="/renseignement">RENSEIGNEMENT</a></h5>


            <div class="contact">
              <div class="centerContact">
                <h5>CONTACT</h5>
                <p>02 43 12 03 33</p>
                <p>02 43 43 12 33</p>
                <p>02 12 33 12 43</p>
                <p>yalamed@gmail.com</p>
              </div>
            </div>
           
            <div class="adresse">
              <div class="centerAdresse">
               <h5>ADRESSE</h5>
               <p>01 Bvd Abd EL Rahmaan laala - EL Madania </p>
              </div>
            </div>
           
          </div>
          <hr>
          <div class="part2">
            <div class="logoFooter">
              <a href="/index.html"><img src="./assets/logo.png" alt="logo"></a> 
             </div>
             <div class="textFooter">
               <p>(c) Copyright Yala mohand salah 2022. All rights reserved.</p>
             </div>
          </div>
         </div>
         <div class="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3217.0820907973366!2d2.755896074762302!3d36.26178589786651!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x128f6b9ae146cf03%3A0x461f8001ddb3bf4c!2sDr%20YALA.%20M.%20S!5e0!3m2!1sen!2sdz!4v1691336433871!5m2!1sen!2sdz" width="250" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="responsiveFooter">

          <div class="part1Grid ">
            <h5 class="item  itemtop"><a href="/">MAIN</a></h5>
            <h5 class="item  itemtop"><a href="#">PROGRAMME HEBDOMADAIRE</a></h5>
            <h5 class="item "><a href="/blog">ON CE QUI NOUS CONCERNE</a></h5>
            <h5 class="item "><a href="/renseignement">RENSEIGNEMENT</a></h5>
          </div>

          <hr>

          <div class="adresse">
            <div class="centerAdresse">
             <h5>ADRESSE</h5>
             <p>01 Bvd Abd EL Rahmaan laala - EL Madania </p>
            </div>
          </div>
          <div class="contact">
            <div class="centerContact">
              <h5>CONTACT</h5>
              <p>02 43 12 03 33</p>
              <p>02 43 43 12 33</p>
              <p>02 12 33 12 43</p>
              <p>yalamed@gmail.com</p>
            </div>
          </div>
         
          <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3217.0820907973366!2d2.755896074762302!3d36.26178589786651!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x128f6b9ae146cf03%3A0x461f8001ddb3bf4c!2sDr%20YALA.%20M.%20S!5e0!3m2!1sen!2sdz!4v1691336433871!5m2!1sen!2sdz" width="250" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>

          <hr>
          
          <div class="part2">
            <div class="logoFooter">
              <a href="/"><img src="./assets/logo.png" alt="logo"></a> 
             </div>
             <div class="textFooterv2">
               <p>(c) Copyright Yala mohand salah 2022. All rights reserved.</p>
             </div>
          </div>

          </div>
        </div>

      </div>
 
      <!-- END FOOTER -->
       
      <script src=" /responsiveJS.js"></script>
      <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>