.btnSet2 {
    display: flex;
    align-items: center;
    gap: 1.5em;
}

.btnSet2 a{
    border:3px solid rgb(255, 255, 255);
    padding: 0.2em 1.2em;
    border-radius: 30px;
    color: var(--BgColor);
    font-family: var(--TextFont);
    font-weight: bold;     
}

.btnSet2 a:hover{
    cursor: pointer; 
    border:3px solid rgb(168, 187, 250);   
}